#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: aqua;
}

/* .App {
  background-color: #0dcaf0;
} */

.col {
  min-width: 100px;
}

@media (max-width: 380px) {
  .header-row {
    flex-direction: column;
    gap: 10px;
  }

  .header-col {
    text-align: center;
    justify-self: center;
    width: auto;
  }
}

@media (min-width: 381px) {
  .header-col.align-self-center {
    text-align: end;
    max-width: 100%;
  }

  .header-col {
    max-width: 40vw;
    min-width: 30vw;
  }
}